/*Custom CSS*/
.styled_table {
  border-collapse: collapse;
  margin: 35px 0;
  font-size: 1.2em;
  font-family: sans-serif;
  min-width: 88%;
  table-layout: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled_table thead tr {
  background-color: #4a0344;
  color: #ffffff;
  text-align: center;
}

.styled_table th,
.styled_table td {
  padding: 13px 15px;
  text-align: center;
}

.styled_table tbody tr {
  border-bottom: 3px solid #dddddd;
}

.styled_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled_table tbody tr:last-of-type {
  border-bottom: 5px solid #f9d3f9;
}


@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}