<h3>Sign Up Here:</h3><br>
<form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username"><br><br>

    <label for="password">Password:</label>&nbsp;
    <input type="password" name="password"><br><br>

    <input type="submit" value="Signup">
</form><br>
<p>I have an account: <a href="/login">User</a>.</p>