<h1>Add New Run</h1>

<form action="/runs" method="POST">
	<label> Date:&emsp;&emsp;</label>
  <input type="text" name="date"> <br><br>

  <label> Distance: </label>
  <input type="number" name="duration"> <br><br>

  <label> Duration: </label>
  <input type="number" name="distance"> <br><br>

  <input type="submit" value="Create">
</form>
