<h1>Add New Run</h1>

<form action="/runs" method="POST">
	<label> Date </label>
  <input type="text" name="date"> </br>

  <label> Distance </label>
  <input type="number" name="duration"> </br>

  <label> Duration </label>
  <input type="number" name="distance"> </br>

  <input type="submit" value="Create">
</form>
